body,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
div,
table,
canvas,
a {
  margin: 0;
  padding: 0;
}

body {
  font: 12px, 'Arial Narrow', HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  word-wrap: break-word;
}

.buttonSpan {
  cursor: pointer;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
}

.font12{
  font-size: 12px !important;
}
.font13{
  font-size: 13px !important;
}